notebook
click==6.7
numpy==1.17.1
pandas==0.25.1
joblib
networkx
s3fs
scipy
requests
seaborn==0.9.0
pytest
matplotlib==2.2.2
tqdm
fastcluster
ipykernel
setuptools
httmock
scikit_learn
sourmash==2.2.0
biopython
khmer==2.1.1
